<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <clear />
            <mimeMap fileExtension=".png" mimeType="image/png" />
            <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
            <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
        <directoryBrowse enabled="false" showFlags="None" />
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".png" allowed="true" />
                    <add fileExtension=".jpg" allowed="true" />
                    <add fileExtension=".jpeg" allowed="true" />
                    <add fileExtension=".webp" allowed="true" />
                    <add fileExtension=".*" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
  </system.webServer>
</configuration>